# Global owners
* @dhduartea

# Docker files
**/Dockerfile @dhduartea
**/*.Dockerfile @dhduartea

# Documentation
*.md @dhduartea
docs/ @dhduartea

# Scripts
**/*.bash @dhduartea
**/*.sh @dhduartea

# GitHub workflows
.github/ @dhduartea
